/* Wir bitten um Vergebung für unsere Unfähigkeit, CSS richtig zu verwenden */
/* mini reset */
  body{
    margin: 0;
    background: #fafafa;
  }

  html {
    scroll-padding-top: 70px; /* height of sticky header */
  }

  body,h1,h2,p,a,input{
    color: #555;
    font-family: Consolas, Arial;
    text-decoration: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  
  /* header styles */
  header{
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 20px;
    text-align: right;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  }
  header a{
    margin-left: 10px;
    border-bottom: 2px solid #23426A;
    padding: 4px;
    cursor: pointer;
  }

  header a:hover{
    background: #23426A;
    color: black;
  }
  
  /* content styles */
  .content{
    max-width: 800px;
    margin: 40px auto 0;
  }
  
  /* request list styles */
  .request-list li{
    padding: 20px;
    margin: 10px auto;
    list-style-type: none;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    border: 3px solid white;
  }
  .request-list .votes{
    position: relative;
    top: -5px;
    z-index: 0;
  }
  .request-list .upvote{
    cursor: pointer;
    border-radius: 50%;
  }
  .request-list .upvote:active{
    color: black;
    background: #23426A;
  }

  .request-list li:hover {
    border: 3px solid #23426A;
  }
  
  /* form element styles */
  input{
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
  }
  button{
    margin-top: 10px;
    padding: 8px 12px;
    background: #23426A;
    border: 0;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
  }

  .backbutton{
    margin-top: 10px;
    padding: 8px 12px;
    background: #23426A;
    border: 0;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    border-radius: 10px;
  }
  .backbutton a{
    color: white;
  }

  #wiso_img {
    width: 200px;
    float: left;
    position: absolute;
    left: -26px;
    top: -35px;
}

#mtc_img {
  width: 45px;
  float: left;
  position: absolute;
  left: 137px;
  top: 7px;
}
p a{
  color: #23426A;
}
p a:hover{
  text-decoration: underline;
}


li a{
  color: #23426A;
}
li a:hover{
  text-decoration: underline;
}

.backbutton, .homebutton{
  margin-bottom: 50px;
}

#tree{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.agenda{
  margin-left: 30px;
}